@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import "jquery.fancybox-1.3.4.css";
body{
    background: #f5f5f5 url('../img/bg.png') repeat-x;
    font: 14px/1.2em Arial, sans-serif;
    min-width: 960px;
}
header{
    height: 80px;
    background: #afe1ec url('../img/header_bg.png') repeat-x;
    padding-top: 25px;
}
header h1{
    overflow: hidden;
    margin-left: 9px;
    float: left;
    display: block;
    width: 236px;
}
header #menu{
    float: right;
    display: inline-block;
    margin: 19px 1px 0 0;
}
header #menu>li{
    display: inline-block;
    padding: 2px 31px;
    border-left: 1px solid #7CC7D7;
    position: relative;
}
header #menu>li:first-child{
    border: none;
}
.paddingRight{
    padding-right: 0px !important;
}
header #menu>li>a, #menu>li ul>li>a{
    text-decoration: none;
    color: #3f5366;
    text-align: center;
    display: block;
}
header #menu>li>a:hover, #menu>li ul>li>a:hover,  .active{
    color:#fff;
}
header #menu>li ul{
    position: absolute;
    padding: 10px 0;
    background: #AFE1EC;
    width: 107px;
    top: 25px;
    border: 1px solid #7CC7D7;
    display: none;
}
header #menu>li ul>li{
    margin-bottom: 7px;
}
.with_ul{
  background: url('../img/sub_menu.png') 87% 7px no-repeat;  
}
p{
    margin-bottom: 20px;
}
/*content*/
#slogan{
    font: 72px "Open Sans", sans-serif;
    color: #31A2BA;
    font-weight: 300;
    letter-spacing: -2px;
    margin-top: 76px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px #afe1ec;
}
.strong{
    font-weight: 700;
}
#startButton{
  background: url('../img/button.png') no-repeat;
  color: #31a2ba;
  font: 24px/1.2em "Open Sans", sans-serif;
  padding: 14px 0px 19px;
  width: 174px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  text-shadow: 1px 1px 1px #ffffff;
  margin-bottom: 60px;
  position: relative;
}
#startButton:hover{
    color:#3F5366;
}
hr{
    border: none;
    background: #E1E7E8;
    height: 1px;
}
.list_1{
    margin: 60px 0 0 22px;
    
}
.list_1>li{
    float: left;
    width: 260px;
    margin-right: 58px;
    text-align: center;
}
.list_1>li>img{
    margin-bottom: 35px;

}
.list_1>li>h3{
    color: #31a2ba;
    font-size:18px;
    line-height: 24px;
    padding-bottom: 15px;
}
.list_1>li>p{
    line-height: 21px;
    font-size: 14px;
    color: #807b77;
}
.marginNone{
    margin-right: 0 !important;
}
.bottomPading{
    padding-bottom: 20px !important;
}
.hrColor_2{
    background: #9bd7e4;
}
#carousel{
    background: #AFE1EC;
    margin-top: 98px;
    padding-top: 34px;
}
#text_1{
    color: #ffffff;
    font: 30px "Open Sans", sans-serif;
    text-align: center;
    display: block;
    text-shadow: 1px 1px 1px #78c8d9;
    font-weight: 300;
    padding-bottom: 21px;
}
#nextTemp{
    height: 60px;
    width: 60px;
    display: block;
    position: absolute;
    background: url('../img/nextButton.png') no-repeat;
    top: 0;
    right: 12px;
}
#prevTemp{
    height: 60px;
    width: 60px;
    display: block;
    position: absolute;
    background: url('../img/prevButton.png') no-repeat;
    top: 0;  
    left: 9px;
}
#inner{
    margin: 0 0 46px -9px;
    overflow: hidden;
    padding: 49px 7px 0;
}
#inner a{
    display: block;
}
.list_2{
    white-space: nowrap;
    position: relative;
}
.list_2>li{
    display: inline-block;  
    margin-right: 14px;
}
.list_2>li img{
    position: relative;
    z-index: 1;
}
.imgShadow{
    background: #afe1ec url('../img/img_shadow.png') no-repeat;
    display: block;
    position: relative;
    z-index: 0;
    width: 310px;
    height: 12px;
    margin-right: -8px;
    margin-top: -10px;
}

/* heading */
h1{
    font:300 30px/1.2em 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 30px;
    text-shadow:1px 1px #3abdda;
}
h2{
    font:700 25px/1.2em 'Open Sans', sans-serif;
    color: #6AB2C1;
    margin-bottom: 20px;
}

.fleft{
    float: left;
}
.fright{
    float: right;
}
.aligncenter{
    text-align: center;
}
/* step 2 */
.clearfix{
    overflow: hidden;
    position: relative;
}
.param-hidden{
    opacity: .4;
}
.hide-show{
    opacity: .5;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
    .hide-show span{
        display: none;
    }
    .param-hidden .hide-show strong{
        display: none;
    }
    .param-hidden .hide-show span{
        display: block;
    }
.param:hover .hide-show{
    opacity: 1;
}
.resume-bg{
    background: #54c8e2; /* Old browsers */
    background: -moz-linear-gradient(top, #54c8e2 0%, #96deee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54c8e2), color-stop(100%,#96deee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #54c8e2 0%,#96deee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #54c8e2 0%,#96deee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #54c8e2 0%,#96deee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #54c8e2 0%,#96deee 100%); /* W3C */
    padding: 30px 0 50px 0;
    position: relative;
    z-index: 2;
}
#resume{
    background: #fff;
}
/* steps menu */
#steps-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 64px;
    border-top: 1px solid #52b9d1;
    background: #afe1ec;
    padding: 0;
    z-index: 99;
}
    #steps-menu a{
        display: block;
        text-indent: -5000px;
        overflow: hidden;
    }
    #steps-menu #buy,
    #steps-menu .hidden{
        display: none;
    }
    #steps-menu #steps-menu-container{
        width: 940px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 6px;
    }
    #steps-menu #prev{
        float: left;
        background: url(../img/prev-btn.png) 0 0 no-repeat;
        width: 135px;
        height: 49px;
    }
    #steps-menu #next{
        float: right;
        background: url(../img/next-btn.png) 0 0 no-repeat;
        width: 134px;
        height: 49px;
    }
    #steps-menu #buy{
        float: right;
        background: url(../img/buy-btn.png) 0 0 no-repeat;
        width: 134px;
        height: 49px;
    }
    #steps-menu #purchase{
        float: right;
        background: url(../img/purchase-btn.png) 0 0 no-repeat;
        width: 301px;
        height: 49px;
    }
/* preview */
#preview{
    padding-bottom: 30px;
}
/* share btns */
#share-btns{
    position: fixed;
    top: 150px;
    right: 0;
    width: 50px;
    height: 150px;
    background: #ddd;
}
/* carousel */
.bg-carousel{
    background: #59cae3;
    border-bottom: 1px solid #0fafd4;
    box-shadow:inset  0 3px 3px rgba(0,0,0,.1), 0 3px 3px rgba(0,0,0,.1);
    padding: 20px 0;
    position: relative;
    z-index: 3;
}
.es-carousel-wrapper{
    padding: 0 106px;
    position:relative;
}
.es-carousel{
    overflow:hidden;
}
.es-carousel ul{
    display:none;
}
.es-carousel ul li{
    height:100%;
    float:left;
    display:block;
    list-style-type:none;
    padding:0;
    margin:0;
}
.es-nav span{
    position:absolute;
    top:50%;
    left:1px;
    margin-top: -29px;
    background: url(../img/car-btns.png) 0 -59px no-repeat;
    width:58px;
    height:58px;
    text-indent:-9000px;
    cursor:pointer;
}
.es-nav span.es-nav-next{
    right:1px;
    left:auto;
    background-position:0 0;
}
.es-nav span:hover{
    opacity:1.0;
}   
#templatesMenu li a{
    display: block;
    position: relative;
    padding: 3px 0 0 3px;
}  
.paid_template a:before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 129px;
    height: 129px;
    background: url(../img/payment.png) 0 0 no-repeat;
}          
/* steps progress bar */
#steps-progress{
    width: 940px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border-left: 1px solid #63c3d9;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
    #steps-progress ul{
        position: relative;
        overflow: hidden;
    }
    #steps-progress ul li{
        float: left;
        color: #fff;
        font:300 18px/1.2em 'Open Sans', sans-serif;
        text-shadow:1px 1px #3abdda;
        width: 260px;
        margin: 0;
        padding: 20px 0 25px 65px;
        position: relative;
        background: #54c8e2 url(../img/steps-progress-bg.jpg) 0 0 repeat-x;
    }
    #steps-progress ul li:before{
        content: "";
        position: absolute;
        background: url(../img/steps-progress-corner1.jpg) 0 0 no-repeat;
        display: block;
        width: 35px;
        height: 66px;
        top: 0;
        left: 0;
    }
        #steps-progress ul li:first-child{ 
            padding-left: 30px;
            border-radius: 5px 0 0 5px;
        }
        #steps-progress ul li:first-child:before{ background: none;}
        #steps-progress ul li.last{
            background: #54c8e2 url(../img/steps-progress-bg2.jpg) 0 0 repeat-x;
            border-radius: 0 5px 5px 0;
            color: #3c525c;
            text-shadow:1px 1px #fcfdfd;
        }
        #steps-progress ul li.last2{
            border-radius: 0 5px 5px 0;
            border-right: 1px solid #63c3d9;
            width: 259px;
        }
    #steps-progress ul li.last:before{
        background: url(../img/steps-progress-corner2.jpg) 0 0 no-repeat;
    }
    #steps-progress ul li strong{
        font-weight: 700;
    }
/* step 3 */
#share-links{
    padding: 20px 0;
    border-top: 1px solid #4db4ca;
}
.share-link,
.close-link{
    display: inline-block;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
    border-radius: 15px;
    box-shadow: 0 0 0 5px rgba(49,180,210,.4), 0 1px 2px rgba(0,0,0,.2);
    color: #595959;
    font: 14px/14px 'Open Sans', sans-serif;
    padding: 8px 20px;
    text-decoration: none;
    margin: 5px;
}
.close-link{box-shadow: 0 0 0 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);}
    .share-link img{
        margin: 0 7px 0 0;
    }
    .share-link span{
        display: inline-block;
        padding-bottom: 2px;
    }
    .share-link:hover{
        box-shadow:inset 0 1px 1px #fff, 0 0 0 5px rgba(49,180,210,.4);
        background: #afe1ec; /* Old browsers */
        background: -moz-linear-gradient(top, #afe1ec 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afe1ec), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #afe1ec 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #afe1ec 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #afe1ec 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom, #afe1ec 0%,#ffffff 100%); /* W3C */
    }
#social-btns{
    padding-top: 12px;
}
    #social-btns div{
        float: left;
        display: block;
        margin-left: 5px;
    }
        #social-btns div:first-child{
            margin-right: 6px;
        }
    #social-btns #tweet-btn{
        margin-top: 2px;
    }
    #social-btns #facebook-btn{
        margin-top: 2px;
    }
    #social-btns #linkedin-btn{
        margin-top: 2px;
    }
/*buy*/
#buyWindow{
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 9999;
   top: 0;
   display: none;
}
#part{
    width: 480px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;    
    background: #fff;
    padding: 20px;
}
#part>h2{
    font-size: 20px;
    text-align: center;
}
#buyButtons{
    position: absolute;
    bottom: 15px;
    left: 230px;
}
#buyBg{
    background:url(../img/buy_bg.png); 
    position: absolute;
    width: 100%;
    height: 100%; 
}
/*end buy*/
/*get link*/
#getLinkWindow{
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: 9999;
   top: 0;
   display: none;
}
#getLinkPart{
    width: 480px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -70px;    
    background: #fff;
    padding: 20px; 
}
input[name='link']{
    width: 100%;
}
/*end get link*/
/* faq */
.faq-question{
    color: #000;
    margin-bottom: 5px;
}
.faq strong{
    font-weight: bold;
    font-size: 1.2em;
}
/*  footer */
footer{
    background: #cceaf0;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #6ab2c1;
}
#footer{
    width: 100%;
    padding: 30px 0 100px;
}